#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chat-layout {

}
.chat-layout-controls {

}
.chat-layout-content {

}
.chat-layout-aside {

}
.chat-layout-main{
  
}